<!DOCTYPE html>
<html>
<head>
    <title>Repository Details - {{ repo.repoName if repo.repoName else repo.name }}</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Repository: {{ repo.repoName if repo.repoName else repo.name }}</h1>
    <ul>
        <li><strong>Internal Name:</strong> {{ repo.name }}</li>
        <li><strong>IRI:</strong> {{ repo.iri }}</li>
    </ul>
    {% if repo.hasBranch %}
    <h2>Branches</h2>
    <ul>
        {% for branch in repo.hasBranch %}
            <li>
                <a href="{{ url_for('branch_detail', branch_name=branch.name) }}">{{ branch.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if repo.hasCommit %}
    <h2>Commits</h2>
    <ul>
        {% for commit in repo.hasCommit %}
            <li>
                <a href="{{ url_for('commit_detail', commit_name=commit.name) }}">{{ commit.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="{{ url_for('index') }}">Back to all repositories</a>
</body>
</html>