<!-- Luke Vidovich (23814635)  -->
 <!-- Sina Shahrivar (22879249)  -->

<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Search Results for "{{ query }}"</h1>
    <ul>
        {% for result in results %}
            <li>
                <a href="{{ url_for('repo_detail', repo_name=result.name) }}">{{ result.repoName if result.repoName else result.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Back to all repositories</a>
</body>
</html>